/********************************************
		Z-index
********************************************/
$z_initialLoading: 30000;
$z_notification: 20000;
$z_modal: 10000;
$z_header: 9000;
$z_sidebar: 8000;
$z_spaceHeader: 8000;
$z_toast: 8000;
$z_articleContents: 1000;
$zIndex_navigation: 300;
$zIndex_spaceList: 200;
$zIndex_spaceList_loading: 100;
$zIndex_dropdown: 100;
