@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	height: 100%;
}
body {
	overflow: hidden;
}
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(236, 230, 230);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(233, 222, 222);
}
